.hero{
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 30px;
	padding: 40px;
}
.hero-img{
	width: 600px;
	height: 300px;
	object-fit: cover;
	border-radius: 10px;
}
.hero-text{
	max-width: 300px;
}
.hero-text h1{
	font-size: 24px;
	margin-bottom: 10px;
}
.hero-text p{
	margin-bottom: 15px;
}
.btn{
	background-color: red;
	padding: 10px 18px;
	color: white;
	border-radius: 8px;
	font-weight: bold;
}

